<% provide(:page_title, "Edit #{@event.title}") %>

<div class="container offset">
  <h1>Eycja wydarzenia</h1>

  <%= render 'form', event: @event %>

  <div class="pull-right-but">
    <%= link_to 'Pokaż', @event, class: "btn btn-primary" %>
    <%= link_to 'Wróc', events_path, class: "btn btn-primary" %>
  </div>

</div>
<div class="offset"></div>

