.offset {
  padding-top: 128px;
}

.messagePanel { border: none; text-align: center}

.seat {

  width: 30px;
  height: 30px;
  margin: 5px;
  border: solid 1px black;
  float: left;
  cursor: pointer;

}

.clearfix { clear: both;}
.available {
  background-color: #96c131;
}

.hovering{
  background-color: #ae59b3;
}
.selected{
  background-color: red;
}

#show, #messagePanel {
  margin-bottom: 20px;
}

.my-button a {
  color: #fff;
}

.my-list {
  display: inline-flex;
}

.my-list li {
  list-style-type: none;
  margin-right: 10px;
}

.state-money {
  margin-top: 5px;
}

.pull-right-but {
  float: right;
}
